.hero-section{
    background: url("/images/hero-landscape-background.png");
    background-size: 1200px;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    padding: 100px 0px;
}

.hero-section h1{
    color: black;
    font-size: 58px;
    text-transform: uppercase;
}

.hero-section p{
    color: black;
    font-size: 20px;
    font-weight: light;
    line-height: 35px;
    width: 100%;
}

.yellow-colored-text{
    color: var(--dark-yellow);
}

.hero-section .container{
    height: 100%;
    align-items: start;
}

.hero-section .column{
    width: 500px;
    height: 400px;
    justify-content: space-around;
}

.hero-section .button-row button{
    width: 210px;
    height: 45px;
    font-size: 18px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 481px) and (max-width: 767px) {
    .hero-section{
        height: 650px;
        padding: 50px 0px;

        background: url("/images/hero-mobile-background.png");
        background-position: bottom;
        background-attachment: scroll;
        background-repeat: no-repeat;
    }

    .smaller-text-on-small-screen{
        display: block;
        font-size: 45px; /* Reduzido para melhor legibilidade */
        width: 100%;
    }

    .yellow-colored-text{
        color: var(--dark-pink);
    }

    .hero-section h1{
        font-size: 60px;
        color: black;
    }

    .hero-section p {
        font-size: 22px; /* Reduzido para melhor legibilidade */
        font-weight: light;
        line-height: 36px;
        color: black;
    }

    .hero-section .button-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-section .button-row button{
        width: 220px;
        height: 56px;
        font-size: 18px;
    }

    .hero-section .container .column:last-child{
        display: none;
    }
    .hero-section .container{
        justify-content: center;
    }

    .hero-section .column{
        height: 450px;
        width: 400px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .hero-section{
        height: 600px;
        padding: 50px 0px;

        background: url("/images/hero-mobile-background.png");
        background-position: bottom;
        background-attachment: scroll;
        background-repeat: no-repeat;
    }
    
    .smaller-text-on-small-screen{
        display: block;
        font-size: 36px; /* Ajustado para melhor legibilidade */
        width: 100%;
    }

    .hero-section h1{
        font-size: 48px;
        color: black;
    }

    .yellow-colored-text{
        color: var(--dark-pink);
    }

    .hero-section p{ 
        width: 300px;
        font-size: 1.165rem; /* Ajustado para melhor legibilidade */
        font-weight: light;
        line-height: 30px;
        color: black;
    }

    .hero-section .button-row{
        display: flex;
        justify-content: center;
    }

    .hero-section .button-row button{
        width: 180px;
        height: 46px;
        font-size: 16px;
    }

    .hero-section .container{
        justify-content: center;
    }

    .hero-section .container .column:last-child{
        display: none;
    }

    .hero-section .column{
        height: 360px;
        width: 310px;
    }
}