.hero-section{
    background: url("/images/wallpaper-crochet-hero-section.jpg");
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: black;
    padding: 100px 0px;
}

.hero-section h1{
    color: white;
    font-size: 58px;
    text-transform: uppercase;
}

.hero-section p{
    color: white;
    font-size: 26px;
    font-weight: light;
    line-height: 35px;
    width: 100%;
}

.pink-colored-text{
    color: var(--lighter-pink);
}

.hero-section .container{
    height: 100%;
    align-items: start;
}

.hero-section .column{
    width: 500px;
    height: 400px;
    justify-content: space-around;
}

.hero-section .button-row button{
    margin-right: 30px;
    width: 170px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .hero-section{
        height: 500px;
        padding: 100px 0px;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .hero-section{
        height: 650px;
        padding: 50px 0px;
    }

    .smaller-text-on-small-screen{
        display: block;
        font-size: 48px;
        width: 100%;
    }

    .hero-section h1{
        font-size: 65px;
    }

    .hero-section p {
        font-size: 26px;
        font-weight: light;
        line-height: 40px;
    }

    .hero-section .button-row{
        display: flex;
    }
    .hero-section .button-row button{
        width: 220px;
        height: 56px;
        font-size: 18px;
        margin-right: 50px;
    }

    .hero-section .container .column:last-child{
        display: none;
    }
    .hero-section .container{
        justify-content: center;
    }

    .hero-section .column{
        height: 490px;
        width: 400px;
    }
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .hero-section{
        height: 600px;
        padding: 50px 0px;
    }
    
    /*Titulos*/
    .smaller-text-on-small-screen{
        display: block;
        font-size: 36px;
        width: 100%;
    }

    .hero-section h1{
        font-size: 48px;
    }

    .hero-section p{ 
        width: 300px;
        font-size: 22px;
        font-weight: light;
        line-height: 36px;
    }

    .hero-section .button-row{
        display: flex;
    }

    .hero-section .button-row button{
        min-width: 140px;
        width: 140px;
        height: 40px;
        font-size: 12px;
    }

    .hero-section .container{
        justify-content: center;
    }

    .hero-section .container .column:last-child{
        display: none;
    }

    .hero-section .column{
        height: 420px;
        width: 300px;
    }
}