.jobs-section {
    padding-top: 100px;
    padding-bottom: 100px;
    color: black;
}

.jobs-section h1 {
    font-size: 2.375rem; /* 38px */
    text-transform: uppercase;
}

.jobs-products {
    width: 600px;
}

.jobs-products h1 {
    font-size: 2.75rem; /* 44px */
}

.jobs-products p {
    font-size: 1.875rem; /* 30px */
    font-weight: light;
    line-height: 2.25rem; /* 36px */
    margin: 30px 0px;
}

.jobs-feedbacks {
    width: 600px;
}

.jobs-feedbacks h1 {
    font-size: 2rem; /* 32px */
    margin-bottom: 20px;
}

.feedbacks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feedback-card {
    height: 180px;
    padding: 30px 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
}

.feedback-card .username {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.feedback-card .profile {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0px auto;
    margin-bottom: 15px;
}

.jobs-images {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.jobs-images .image-grid {
    width: 100%;
    margin-bottom: 15px;
}

.jobs-images .button-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.jobs-images button {
    min-width: 200px;
    font-size: 1rem; /* 16px */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 105px);
    grid-auto-rows: 105px;
    gap: 10px;
}

.grid-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.medium {
    grid-column: span 2;
    grid-row: span 2;
}

.large {
    grid-column: span 4;
    grid-row: span 2;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {

    .jobs-products h1 {
        font-size: 2.75rem; /* 44px */
    }
    
    .jobs-products p {
        font-size: 1.165rem; 
        line-height: 2.25rem; /* 36px */
    }
    
    .jobs-images .image-grid {
        height: 445px;
    }

    .feedback-card{
        width: 175px;
    }
}
  
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    
    .jobs-products h1 {
        font-size: 2.75rem; /* 44px */
    }
    
    .jobs-products p {
        font-size: 1.375rem; /* 22px */
        line-height: 2.25rem; /* 36px */
    }

    .feedback-card {
        padding: 10px;
        width: 180px;
    }

    .feedback-card .comment {
        font-size: 1.165rem; /* 14px */
        padding: 10px;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1100px) {
    
    .jobs-products {
        width: 100%;
    }

    .jobs-products h1 {
        font-size: 3.375rem; /* 54px */
    }

    .jobs-products p {
        font-size: 1.165rem; /* 32px */
        line-height: 30px; /* 40px */
    }

    .jobs-section .container {
        display: block;
    }

    .jobs-images {
        width: 100%;
        margin-bottom: 60px;
    }

    .jobs-images button {
        min-width: 210px;
        height: 50px;
        font-size: 1.25rem; /* 20px */
    }

    .jobs-images .button-row {
        margin: 0 auto;
        justify-content: space-between;
        width: 461px;
    }
    
    .jobs-feedbacks {
        width: 100%;
    }

    .jobs-feedbacks h1 {
        width: 100%;
        font-size: 2.75rem; /* 44px */
        margin-bottom: 40px;
        text-align: center;
    }

    .feedback-card {
        height: 200px;
        width: 200px;
        margin-bottom: 40px;
    }
    
    .feedback-card .username {
        font-size: 1rem;
    }
    
    .feedback-card .profile {
        width: 60px;
        height: 60px;
        margin: 10px auto;
    }

    .feedback-card .comment {
        font-size: 1.165rem; /* 14px */
    }

    .image-grid {
        display: grid;
    }

    .grid-container {
        justify-self: center;
        grid-template-columns: repeat(4, calc((100vw - 75px) / 4));
        grid-auto-rows: 140px;
    }

}
  
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* Add specific styles if needed */
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  
    .jobs-products {
        width: 100%;
    }

    .jobs-products h1 {
        font-size: 3.375rem; /* 54px */
    }

    .jobs-products p {
        font-size: 1.165rem; /* 32px */
        line-height: 30px; /* 40px */
    }

    .jobs-section .container {
        display: block;
    }

    .jobs-images {
        width: 100%;
        margin-bottom: 60px;
    }

    .jobs-images button {
        min-width: 210px;
        height: 50px;
        font-size: 1.25rem; /* 20px */
    }

    .jobs-images .button-row {
        margin: 0 auto;
        justify-content: space-between;
        width: 461px;
    }
    
    .jobs-feedbacks {
        width: 100%;
    }

    .jobs-feedbacks h1 {
        width: 100%;
        font-size: 2.75rem; /* 44px */
        margin-bottom: 40px;
        text-align: center;
    }

    .feedbacks {
        flex-direction: column;
        align-items: center;
    }

    .feedback-card {
        height: 150px;
        width: 400px;
        margin-bottom: 40px;
    }
    
    .feedback-card .username {
        font-size: 1rem;
    }
    
    .feedback-card .profile {
        width: 60px;
        height: 60px;
        margin: 10px auto;
    }

    .feedback-card .comment {
        font-size: 1.165rem; /* 14px */
    }

    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 8rem;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 387px) and (max-width: 480px) {
    
    .jobs-products {
        width: 100%;
    }

    .jobs-products h1 {
        font-size: 2.25rem; /* 36px */
    }

    .jobs-products p {
        font-size: 1.375rem; /* 22px */
    }

    .jobs-section .container {
        display: block;
    }

    .jobs-feedbacks {
        width: 100%;
    }

    .jobs-feedbacks h1 {
        width: 100%;
        text-align: left;
        font-size: 1.625rem; /* 26px */
        margin-bottom: 40px;
    }
    
    .jobs-images {
        width: 100%;
        margin-bottom: 60px;
    }

    .jobs-images button {
        min-width: 170px;
        height: 40px;
    }

    .feedbacks {
        flex-direction: column;
    }

    .feedback-card {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Define duas colunas com larguras iguais */
        grid-template-rows: auto auto;;
        gap: 10px;
        height: 150px;
        margin-bottom: 40px;
    }
    
    .feedback-card .username {
        grid-column: 1;
        font-size: 1rem; /* 16px */
        font-weight: normal;
    }
    
    .feedback-card .profile {
        grid-column: 1;
        width: 80px;
        height: 80px;
        margin: 10px auto;
    }

    .feedback-card .comment {
        grid-column: 2;
        grid-row: 1 / span 2;
        font-weight: bold;
        font-size: 1rem; /* 18px */
        line-height: 25px;
        display: flex; 
        align-items: center; /* Centraliza verticalmente */
        justify-content: center; 
        text-align: center;
    }
    
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 5rem;
    }
}

@media (max-width: 386px){
    .jobs-products {
        width: 100%;
    }

    .jobs-products h1 {
        font-size: 2.25rem; /* 36px */
    }

    .jobs-products p {
        font-size: 1.375rem; /* 22px */
    }

    .jobs-section .container {
        display: block;
    }

    .jobs-feedbacks {
        width: 100%;
    }

    .jobs-feedbacks h1 {
        width: 100%;
        text-align: left;
        font-size: 1.625rem; /* 26px */
        margin-bottom: 40px;
    }
    
    .jobs-images {
        width: 100%;
        margin-bottom: 60px;
    }

    .feedbacks {
        flex-direction: column;
    }

    .feedback-card {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Define duas colunas com larguras iguais */
        grid-template-rows: auto auto;;
        gap: 10px;
        height: 150px;
        margin-bottom: 40px;
    }
    
    .feedback-card .username {
        grid-column: 1;
        font-size: 1rem; /* 16px */
        font-weight: normal;
    }
    
    .feedback-card .profile {
        grid-column: 1;
        width: 60px;
        height: 60px;
        margin: 10px auto;
    }

    .feedback-card .comment {
        grid-column: 2;
        grid-row: 1 / span 2;
        font-weight: bold;
        font-size: 1rem; /* 18px */
        line-height: 25px;
        display: flex; 
        align-items: center; /* Centraliza verticalmente */
        justify-content: center; 
        text-align: center;
    }
    
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 5rem;
    }

    .jobs-images button {
        min-width: 140px;
        width: 140px;
        height: 50px;
    }
}