@font-face {
  font-family: "InriaSans";
  src: url("/fonts/InriaSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "InriaSans";
  src: url("/fonts/InriaSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "InriaSans";
  src: url("/fonts/InriaSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: light;
}

:root {
  font-family: 'InriaSans';
  line-height: 1;

  color-scheme: light;
  color: rgb(0, 0, 0);

  --lighter-pink: #EB376D;
  --dark-pink: #CC3864;
  --dark-yellow: #D3BE00;
  --lighter-yellow: #CC6438;
  --general-card-size: 500px;
  --selection-button-space: 20px;
  --general-card-width: 400px;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
}

.container{
  width: calc(100% - 40px);

  max-width: 1200px;
  margin: 0 auto;

  padding-left: 20px;
  padding-right: 20px;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.row-center-verticaly{
  align-items: center;
}

.space-between{
  justify-content: space-between;
}

.primary-button{
  font-family: 'InriaSans';
  min-width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  padding: 5px;
  background: linear-gradient(to right, var(--dark-yellow), var(--lighter-yellow));
  transition: 0.2s;
}

.secondary-button{
  padding: 5px;
  font-family: 'InriaSans';
  min-width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  background: linear-gradient(to right, var(--lighter-pink), var(--dark-pink));
  transition: 0.2s;
}

button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

@media  (min-width: 481px) and (max-width: 767px)  {
  :root{
    --general-card-size: 450px;
    --general-card-width: 300px;
    --selection-button-space: 20px;
  }
}


@media (min-width: 387px) and (max-width: 480px) {
  :root{
    --general-card-size: 500px;
    --general-card-width: 347px;
    --selection-button-space: 20px;
  }
}

@media (max-width: 386px){
  :root{
    --general-card-size: 480px;
    --general-card-width: 300px;
    --selection-button-space: 20px;
  }
}